/gradlew text eol=lf
*.bat text eol=crlf
*.jar binary
*.java linguist-detectable=true
*.java linguist-language=Java

# Mantém HTML, CSS e JS visíveis
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true

# Não somar templates do front no cálculo
src/main/resources/templates/* linguist-vendored

